# Variables para PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
POSTGRES_DB=tenpista

# Backend environment variables
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/tenpista
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password
FRONTEND_URL=http://localhost

# Frontend environment variables
VITE_URL_BACKEND=http://localhost:8081/transaction
